@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

* {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Primary Colors */
  --primary-dark: #141e30; /* Dark background */
  --primary-light: #fff; /* Light foreground (text, buttons, etc.) */

  /* Accent Colors */
  --accent-color: #1abc9c; /* Teal accent color */
  --accent-light: #16a085; /* Lighter teal for hover effect */
  --neutral-light: #f5f5f5; /* Light neutral background color */
  --neutral-dark: #333333; /* Dark neutral color for text or footer background */

  /* Button Styling */
  --btn-bg-color: var(--accent-color); /* Button background color */
  --btn-text-color: var(--primary-light); /* Button text color */
  --btn-border-radius: 15px; /* Button border radius */
  --btn-padding: 12px 25px; /* Button padding */
  --btn-font-size: 1.1rem; /* Button font size */
  --btn-font-weight: bold; /* Button font weight */
  --btn-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Button shadow */
  --btn-hover-bg-color: var(--accent-light); /* Button hover background color */
  --btn-hover-shadow: 0 6px 15px rgba(0, 0, 0, 0.5); /* Button hover shadow */
  /* General UI Colors */
  --background-color: var(--primary-dark); /* General background color */
  --text-color: var(--primary-light); /* Text color */
  --link-color: var(--accent-color); /* Default link color */
  --link-hover-color: var(--accent-light); /* Hover color for links */

  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;

  --font-size-xs: 1rem;
  --font-size-sm: 1.25rem;
  --font-size-md: 1.5rem;
  --font-size-lg: 2rem;
  --font-size-xl: 3rem;
}

body {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
img {
  width: 100%;
}
h2 {
  font-size: var(--font-size-md);
  color: var(--primary-light);
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col {
  width: 100%;
}

.login-btn {
  background-color: var(--primary-light);
  color: var(--accent-color);
}
.login-btn:hover {
  color: var(--primary-light);
}

.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#141e30, #243b55);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-self: center;
  margin: 100px 0;
}
.hero-title {
  color: var(--primary-light);
  font-size: var(--font-size-xl);
  text-align: center;
}
.hero-description {
  color: var(--primary-light);
  font-size: var(--font-size-sm);
  text-align: center;
}

.nav {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > a {
  text-decoration: none;
  font-size: 30px;
  color: var(--primary-light);
}

button {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  border: none;
  box-shadow: var(--btn-shadow);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: var(--btn-hover-bg-color);
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
}

button:focus {
  outline: none;
  border: var(--btn-focus-border);
}

.nav-btn-container {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-direction: row-reverse;
}

.arrow-down {
  color: white;
  font-size: 80px;
  margin: 10px 0;
  animation: moveUpDown 1s infinite ease-in-out;
  cursor: pointer;
}

#dashboard-btn {
  display: none;
  font-size: var(--font-size-xs);
}
.dashboard-row {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 30px;
}

.h1-dashboard {
  text-align: center;
  color: var(--primary-light);
  font-size: var(--font-size-xl);
}
.h2-dashboard {
  text-align: center;
  color: var(--primary-light);
  font-size: var(--font-size-md);
}

.dashboard-nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  width: 100%;
}
.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
.dashboard-nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-light);
}
.dashboard-nav li {
  list-style: none;
  cursor: pointer;
  padding: 12px;
  color: var(--primary-light);
}
.dashboard-nav a {
  color: var(--primary-light);
  text-decoration: none;
  font-size: var(--font-size-xs);
  font-weight: 600;
}
#logout-btn {
  color: var(--primary-light);
  text-decoration: none;
  font-size: var(--font-size-xs);
  font-weight: 600;
}
#logout-btn:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}
.dashboard-nav li:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.dashboard-nav li:active {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.dash-logout-btn {
  margin: 20px 0;
  font-size: var(--font-size-xs);
}

.dashboard-background {
  background: var(--primary-dark);
}
.phase-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}

.phase-container h2 {
  color: var(--primary-light);
  font-size: var(--font-size-md);
}

#phase-select {
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
  font-size: var(--font-size-sm);
  border: 2px solid var(--primary-dark);
  max-width: 200px;
}

.program-card {
  background: var(--primary-light);
  border-radius: 12px; /* Softer, rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 24px;
  border-top: 6px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: initial;
  gap: 20px;
  transition: transform 0.2s ease-in-out;
}

.program-card:hover {
  transform: translateY(-4px);
}

.program-card hr {
  margin: 16px 0;
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--accent-color);
}

.program-card h2 {
  color: var(--primary-dark);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.program-card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.program-card div .title {
  font-size: var(--font-size-sm);
  color: var(--accent-color);
  font-weight: 600;
}

.program-card div .desc {
  font-size: var(--font-size-sm);
  color: var(--primary-dark);
  opacity: 0.9;
  text-transform: capitalize;
}
.nav-col {
  align-items: center;
}

.bars {
  color: var(--primary-light);
  font-size: var(--font-size-xl);
  display: none;
}
.bars:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dashboard-hero {
  height: 150px;
  width: 100%;
  background-color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-hero h1 {
  color: var(--primary-dark);
  font-size: var(--font-size-lg);
}

.dashboard-table {
  background-color: var(--primary-light);
  border-radius: 16px;
  padding: 10px;
  border: solid var(--primary-dark) 1px;
  text-align: center;
}
.dashboard-table th {
  padding: 20px;
}

.workout-card {
  background: var(--primary-light);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.workout-card h1 {
  text-align: center;
  color: var(--accent-color);
  font-size: var(--font-size-lg);
}
.workout-card h2 {
  font-size: var(--font-size-md);
  color: var(--accent-color);
}
.workout-card hr {
  background-color: var(--accent-color);
  height: 2px;
}

.workout-card .headers {
  display: flex;
  justify-content: space-between;
}

.workout-card .exercises-container {
  display: flex;
  justify-content: space-between;
}
.workout-card > .exercises-container > p {
  font-size: var(--font-size-xs);
}
.workouts-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin: 0 auto;
  gap: 20px;
  width: 100%;
}

.prompt-form {
  box-shadow: var(--btn-shadow);
  background-color: var(--primary-light);
  height: auto;
  max-height: 90vh;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--btn-border-radius);
  width: 100%;
  max-width: 700px;
  gap: 10px;
  border-top: 6px solid var(--accent-color);
  position: relative;
  overflow-y: scroll;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--accent-color);
  border: none;
  font-size: var(--font-size-lg);
  cursor: pointer;
  height: 20px;
  width: 20px;
  color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
  transition: all 0.3s ease-in-out;
}
.close-modal-btn:hover {
  background-color: var(--btn-hover-bg-color);
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
}

.close-modal-btn:focus {
  outline: none;
  border: var(--btn-focus-border);
}

.prompt-form h2 {
  color: var(--primary-dark);
}

.input-box label {
  font-size: var(--font-size-sm);
  color: var(--primary-dark);
}
.input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.split-box input {
  width: 100%;
}

.split-box {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-around;
}
.prompt-form input {
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
  font-size: var(--font-size-sm);
}
.prompt-form select {
  border-radius: 8px;
  padding: 4px 8px;
  width: 100%;
  font-size: var(--font-size-sm);
  border: 2px solid var(--primary-dark);
}

.checkbox-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--primary-dark);
  flex-wrap: wrap;
}

.checkbox-label input[type='checkbox'] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary-dark);
  border-radius: 4px;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.checkbox-label input[type='checkbox']:checked {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

.checkbox-label input[type='checkbox']::before {
  content: '✔';
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.error-text {
  color: red;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--primary-dark);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}
#generate-workout-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#workout-wrapper {
}

/* all workouts styles */

.all-workout-card {
  background-color: var(--primary-light);
  border-radius: var(--btn-border-radius);
  display: flex;
  flex-direction: column;
  box-shadow: var(--btn-shadow);
  padding: 20px;
  gap: 30px;
  align-items: center;
  width: 100%;
  border-top: 6px solid var(--accent-color);
  transition: transform 0.2s ease-in-out;
  min-height: 550px;
}
.all-workout-card:hover {
  transform: translateY(-4px);
}

.all-workout-card p {
  text-transform: capitalize;
}

.all-workout-card > p > span {
  color: var(--accent-color);
  font-weight: 600;
  font-size: var(--font-size-xs);
}

.all-workout-card .btn-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 10px 0;
}
.all-workout-card h2 {
  color: var(--primary-dark);
  font-size: var(--font-size-sm);
}
.all-workout-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
}

.swiper {
  width: 600px;
  height: 300px;
}

.create-workout-btn {
  max-width: 300px;
}

.dash-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}
.dash-top-nav .logo {
  text-decoration: none;
  color: var(--primary-light);
  font-size: var(--font-size-lg);
}
.dash-top-nav > .wrapper {
  color: var(--primary-light);
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 800;
}

.dash-top-nav > .wrapper > a {
  color: var(--primary-light);
  font-size: var(--font-size-md);
  cursor: pointer;
}

/* Buy token styles  */

.pricing-card-container {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 100px;
}
.pricing-card {
  width: 100%;
  border: solid 3px var(--accent-color);
  max-width: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  min-height: 500px;
  background-color: #1f2a40;
  backdrop-filter: blur(10px);
}
.pricing-card button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}
.pricing-card button:hover {
  background-color: var(--accent-color);
  color: var(--primary-dark);
}
.pricing-card .price {
  color: var(--accent-color);
  font-size: var(--font-size-lg);
  font-weight: 700;
  font-style: italic;
}
.pricing-card ul {
  list-style-type: square;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.pricing-card ul li::marker {
  color: var(--accent-color);
}
.pricing-card ul li {
  color: var(--primary-light);
}
.pricing-card:nth-of-type(2)::before {
  transform: translateY(30px);
  content: 'MOST POPULAR';
  position: absolute;
  top: 10px;
  right: -30px;
  background-color: var(--accent-color);
  color: #fff;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 0.9rem;
  transform: rotate(45deg); /* Angled ribbon effect */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}
.pricing-card:nth-of-type(2) {
  transform: translateY(30px);
}
.pricing-card:nth-of-type(3) {
  transform: translateY(60px);
}
.pricing-card h2 {
  font-size: var(--font-size-md);
}

.table-container {
  width: 100%;
  max-height: 800px;
  overflow-x: auto;
  border-radius: var(--btn-border-radius);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--neutral-light);
}
table {
  width: 100%;
  border-collapse: collapse;
  color: var(--neutral-dark);
}
th,
td {
  padding: var(--spacing-md);
  text-align: left;
  border-bottom: 2px solid var(--primary-light);
  border-right: 2px solid var(--primary-light);
}
tr,
td {
  font-size: var(--font-size-xs);
}
th:last-child,
td:last-child {
  border-right: none;
}
th {
  background-color: var(--accent-color);
  color: var(--primary-light);
  font-size: var(--font-size-md);
  position: sticky;
  top: 0;
}

.create-workout-modal {
  display: none; /* Hidden by default */
}
.token-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.purchase-tokens-modal {
  box-shadow: var(--btn-shadow);
  background-color: var(--primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--btn-border-radius);
  width: 100%;
  gap: 20px;
  border-top: 6px solid var(--accent-color);
  position: relative;
  padding: 40px;
  max-width: 400px;
}
.purchase-tokens-modal div {
  display: flex;
  gap: 20px;
}
.purchase-tokens-modal div button {
  font-size: var(--font-size-xs);
}
.purchase-tokens-modal h1 {
  font-size: var(--font-size-sm);
}

.phase-card {
  background: var(--primary-light);
  border-radius: 12px; /* Softer, rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 24px;
  border-top: 6px solid var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: initial;
  gap: 20px;
  transition: transform 0.2s ease-in-out;
}
.phase-card h1 {
  text-align: center;
}
.phase-card h3 {
  font-size: var(--font-size-md);
}
.phase-card p {
  font-size: var(--font-size-sm);
}
.center {
  text-align: center;
}

/*
how to videos page
*/

.video-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  width: 100%;
  margin: 40px 0;
}

.video-grid.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.video-grid.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.video-grid a div {
  background-color: var(--primary-light);
  border-radius: var(--btn-border-radius);
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--btn-shadow);
  margin: 10px 0;
}
.video-grid a {
  text-decoration: none;
}

.video-grid a div:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
.video-grid a div img {
  border-top-right-radius: var(--btn-border-radius);
  border-top-left-radius: var(--btn-border-radius);
}
.video-h2 {
  color: var(--primary-dark);
  text-align: center;
  padding: 20px 0;
}

.tutorial-row {
  display: flex;
  justify-content: space-between;
}

.tutorial-search {
  font-size: var(--font-size-sm);
  padding: 4px;
}
.tutorial-search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.tutorial-select {
  padding: 4px;
  font-size: var(--font-size-sm);
}

.tutorial-h1 {
  font-size: var(--font-size-lg);
  color: var(--primary-light);
  text-align: center;
  margin-bottom: 40px;
}

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
}
.pagination-button {
  padding: 10px;
  color: var(--primary-light);
  background-color: var(--accent-color);
  transition: all 0.3s ease-in-out;
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
  border-radius: 10px;
}

.pagination-button.active {
  color: var(--primary-dark);
  background: var(--primary-light);
}
.pagination-button:hover {
  color: var(--primary-dark);
  background: var(--primary-light);
}

/* 
Profile page styles
*/

.prof-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: var(--primary-light);
  border-radius: var(--btn-border-radius);
  box-shadow: var(--btn-shadow);
  border-top: 6px solid var(--accent-color);
}

.profile-left-side {
  width: 50%;
  padding: 20px;
}
.profile-right-side {
  width: 100%;
  padding: 20px;
}
.profile-nav {
  margin: 20px 0;
}

.profile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-nav ul li {
  list-style-type: none;
}
.profile-nav ul li a {
  text-decoration: none;
  color: var(--primary-dark);
  font-size: var(--font-size-sm);
}
.profile-nav ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}
.profile-nav ul li a.active {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.profile-hr {
  color: var(--primary-dark);
  width: 80%;
  margin-top: 20px;
}

.prof-row {
  display: flex;
}

.edit-account-form {
  border: solid 1px var(--primary-dark);
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: center;
}
.edit-account-form input {
  width: 100%;
  padding: 4px;
  font-size: var(--font-size-sm);
}
.tint {
  background-color: rgb(241, 240, 240);
  border: 1px solid var(--primary-dark);
}

/*
Token transactions page
*/

.token-transaction-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.token-trans-wrapper {
  border: 1px solid var(--primary-dark);
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.token-trans-wrapper div p {
  font-size: 14px;
}
.token-trans-wrapper .bolded {
  font-weight: 700;
}

@media (width < 768px) {
  .prof-row {
    flex-direction: column;
  }
  .edit-account-form input {
    max-width: 500px;
    padding: 4px;
    font-size: var(--font-size-xs);
  }
  .edit-account-form {
  }
  .profile-right-side {
  }
}

@media (width < 1000px) {
  .video-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width < 768px) {
  .video-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .tutorial-row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .tutorial-select {
    width: 100%;
  }
  .tutorial-search {
    width: 100%;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  .table-container {
    overflow-x: auto;
    max-height: none;
  }
  table {
    display: block;
    white-space: nowrap;
  }
  th,
  td {
    padding: var(--spacing-sm);
    font-size: var(--font-size-sm);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (width < 1100px) {
  .all-workout-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width < 800px) {
  .nav {
    flex-direction: column;
  }
  .hero-description {
    font-size: var(--font-size-xs);
  }
  .hero-title {
    font-size: var(--font-size-lg);
  }
  @media (max-width: 768px) {
    .dashboard-nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .dashboard-nav .nav-toggle {
      display: block;
    }

    .dashboard-nav ul {
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }

    .dashboard-nav ul.show {
      display: flex;
    }

    .dashboard-nav li {
      width: 100%;
      text-align: left;
      padding: 10px 0;
    }
  }
  .bars {
    display: none;
  }

  .dashboard-row {
    flex-direction: column;
    align-items: center;
  }
  .program-card {
    padding: 16px;
    gap: 12px;
  }

  .program-card h2 {
    font-size: 1.2rem;
  }

  .program-card div {
    flex-direction: column;
    align-items: flex-start;
  }
  .workouts-grid {
    grid-template-columns: repeat(1, minmax(0, 2fr));
    width: 100%;
  }

  .split-box {
    flex-direction: column;
  }

  .all-workout-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .all-workout-card .btn-container {
    flex-direction: row;
  }
  #curr-user {
    display: none;
  }
  .pricing-card-container {
    align-items: center;
    flex-direction: column;
  }

  .pricing-card:nth-of-type(2) {
    transform: translateY(0px);
  }
  .pricing-card:nth-of-type(3) {
    transform: translateY(0px);
  }
  .pricing-card {
    max-width: 300px;
    width: 100%;
  }
}
